/*Reset all stayles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
button {
  color: inherit;
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/lato-v23-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* --------------------------------*/

body{
	font-family: "Lato", sans-serif;
	font-size: 20px;
	background: #E9FF90;
}
.container{
	max-width: 1230px;
	padding: 0 30px;
	margin: 0 auto;
}

/* Header */

.header{
	background:  #B2C959;
	background-size: 100%;
	padding-top: 50px;
	color: white;
}
.header-nav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 70px;
}



/* Nav */

.nav-list{
	display: flex;
	column-gap: 50px;
	font-weight: 500;
	font-size: 24px;
}

.nav-button{
	display: none;
}

.nav-link{
	color: white;
}
.nav-link:hover, .nav-link:focus{
	color: #EBFF00;
}
/*-----------------------------------*/

/* Header content */

.header-content{
	margin-top: 124px;
	max-width: 500px;
}

.header-row{
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}

.header-heading{
	font-weight: 600;
	font-size: 64px;
	margin-bottom: 20px;
}
.header-content p{
	line-height: 2;
}

/*--------------------*/

/* locations */

.location{
	padding: 90px 0;
}

.location-row{
	display: flex;
	column-gap: 74px;
	flex-wrap: wrap;
	row-gap: 60px;

}

.location-card{
	flex: 1 1 0;
	min-width: 315px;


}

.location-card-image{
	margin-bottom: 30px;

}

.location-card-title{
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 32px;
	text-transform: uppercase;
}

.location-card p{
	line-height: 2;

}

.portfolio{
	padding: 45px 0;
}
.city-title{
	text-align: center;
	margin-bottom: 70px;
}
.title-1{
	font-size: 34px;
	font-weight: 600;
}
.city{
	margin-top: 50px;
	text-align: center;

}

.city + .city{
	margin-top: 90px;
}

.city-img{
	margin-bottom: 40px;
}
.citys-title{
	font-size: 32px;
}
.citys-title a{
	color: #000;
	text-decoration: underline;
}
/*---------------------*/

/*footer*/

.contacts{
	padding: 90px 0;
	text-align: center;
	background: #9CAB5D;
}

.contacts-title{
	margin-bottom: 40px;
}

.contacts-social{
	display: flex;
	justify-content: center;
	column-gap: 60px;
	align-items: center;
	margin-bottom: 40px;
}