@media(max-width: 1230px){
	.nav-list{
		display: none;
	}
	.nav-button{
		display: block;
	}
	.nav.open .nav-list{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #9CAB5D;
		z-index: 1;
		padding: 45px 30px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		font-size: 34px;
		font-weight: 600;
		
	}

	.header-nav{
		margin-bottom: 50px;
	}

	.nav-button{
		position: fixed;
		z-index: 9;
		top: 46px;
		right: 30px;
	}
	.header-row{
		flex-direction: column;
		margin-top: 0;
		row-gap: 30px;
	}
	.header-content{
		text-align: center;
	}
	.header-img{
		text-align: center;
	}
}

@media(max-width: 700px){
	.header-heading{
		font-size: 34px;
	}

	.location{
		padding: 60px 0;
		text-align: center;
	}

	.portfolio{
		padding: 60px 0;

	}
	.city-title{
		margin-bottom: 50px;
	}
	.city-img{
		margin-bottom: 30px;
	}
	.city + .city{
		margin-top: 55px;
	}
	.contacts{
		padding: 20px;
	}
}